@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
@import url('styles/header.css');
@import url('styles/main.css');

:root {
  --background: #ffffff;
  --aside: #eeeeee;
  --text: #111111;
  --navbar: #48BFA9;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab', sans-serif;
  color: var(--text);
}

section {
  padding: 1.2rem 0.5rem 0 0.5rem;
  box-sizing: border-box;
  height: 100vh;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
}
