#avatar {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #avatar img {
    display: inline-block;
    height: 200px;
    width: 200px; }
  #avatar span {
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    box-sizing: border-box; }

#resume {
  width: 60%;
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: center; }

#social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0;
  box-sizing: border-box; }
  #social-links li {
    margin: 0 1rem; }
    #social-links li a:hover {
      background: transparent; }

#gh-link:hover {
  color: #777777; }

#profile-link:hover {
  color: #006400; }

#tw-link:hover {
  color: #086097; }

header {
  background: #0b97c4;
  color: #ffffff;
  height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  z-index: 1000; }
  header span {
    margin: 0;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600; }
    header span a {
      color: #ffffff; }
      header span a:hover {
        color: #222222;
        background: transparent; }
  header nav ul {
    padding: 0;
    margin: 0 1rem;
    list-style-type: none; }
    header nav ul li {
      display: inline-block; }
      header nav ul li a {
        color: inherit;
        text-decoration: none;
        padding: 0.2rem;
        box-sizing: border-box;
        margin: 0 0.2rem; }
        header nav ul li a:hover {
          background: #222222; }

@media only screen and (max-width: 500px) {
  body {
    font-size: 14px; } }

body {
  font-family: 'Zilla Slab', sans-serif;
  margin: 0;
  padding: 0;
  color: #111111; }

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9rem; }

a {
  color: #0b97c4;
  text-decoration: none; }
  a:hover {
    background: #222222;
    color: #ffffff; }

h1, h2 {
  margin: 0;
  margin-top: 35px;
  padding-bottom: 1rem; }

section {
  min-height: calc(100vh - 30px);
  height: 100%;
  padding: 0.5rem;
  padding-top: 30px;
  box-sizing: border-box;
  width: 100%; }

@media only screen and (max-width: 700px) {
  section {
    font-size: 14px;
    min-height: calc(100vh - 30px); } }

#projects-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 100%;
  width: 100%; }
  #projects-list .project-tile {
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 0.5rem;
    display: inline-block;
    width: 45%;
    max-width: 420px;
    height: 160px;
    position: relative; }
    #projects-list .project-tile h3 {
      margin: 0;
      padding: 0.5rem;
      box-sizing: border-box;
      text-align: left; }
    #projects-list .project-tile .project-desc {
      font-family: 'Noto Sans', sans-serif;
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      width: 100%;
      display: inline-block;
      text-align: left; }
    #projects-list .project-tile .project-data {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
      padding: 0.4rem 1rem;
      box-sizing: border-box;
      position: absolute;
      bottom: 0; }
      #projects-list .project-tile .project-data .project-links {
        display: flex;
        list-style-type: none; }
        #projects-list .project-tile .project-data .project-links li {
          display: inline-block;
          margin: 0 0.5rem; }

@media only screen and (max-width: 800px) {
  #projects-list .project-tile {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    max-width: none;
    height: 190px; }
    #projects-list .project-tile .project-desc {
      font-size: 0.9rem; } }

#welcome-section {
  background: url("https://raw.githubusercontent.com/estebanborai/fcc-personal-portfolio/master/assets/photo-1514428631868-a400b561ff44.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 2rem; }
  #welcome-section h1 {
    margin: 0;
    display: inline-block;
    padding: 0; }

#typing-container {
  max-width: 70%;
  margin: 0 auto; }

#cursor {
  font-family: monospace;
  font-weight: 600;
  display: inline-block; }

@media only screen and (max-width: 720px) {
  #welcome-section h1 {
    font-size: 1.7rem; } }
